<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
  <%#https://github.com/collectiveidea/awesome_nested_set/blob/master/lib/awesome_nested_set/helper.rb%>
  <%= select_tag 'parent_id', options_for_select(nested_set_options(@track.step) {|i| "#{'-' * i.level} #{i.name}" } ) %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
