<%= render 'layouts/notice' unless notice.nil?%>
<div class="row">
<p>
  <strong>Name:</strong>
  <%= @track.name %>
  <%#https://github.com/collectiveidea/awesome_nested_set/blob/master/lib/awesome_nested_set/helper.rb%>
</p>
</div>

<div class="row">
  <div id="mynetwork"></div>
</div>
<div class="row">
  <%= link_to 'Edit', edit_track_path(@track) %> |
  <%= link_to 'Back', tracks_path %>
</div>
<script>
  // TBD: fetch it to avoid js escape ?
  window.track = <%= raw @track.step.subtree.to_json()%>
</script>
