<%= form_with(model: resource, local: true, :class => "ui form") do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag(:name, "Name") %>
    <%= form.text_field(:name, :placeholder => "My first HTML tutorial") %>
  </div>
  <div class="field">
    <%= label_tag(:url, "Url") %>
    <%= form.url_field(:url, :placeholder => "http://mywebsite.com") %>
  </div>
  <!-- TODO: make that image field better? -->
  <div class="field">
    <%= label_tag(:image_url, "Image") %>
    <%= form.url_field(:image_url, :placeholder => "http://placekitten.com/300/200") %>
  </div>
  <div class="actions">
    <%= form.submit :class=>"ui button"%>
  </div>
<% end %>
